.admin-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    /* max-width: 100%; */
    padding-left: 3%;
    padding-right: 3%;

    .admin-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        :first-child{
            margin-right: 3px;
        }
        :last-child{
            margin-left: 3px;
        }

        .left-text-header{
            display: flex;
            flex-direction: row;
        }

        .right-text-header{
            display: flex;
            justify-content: flex-end;
            align-items: end;
        }
    }
    
}

.admin-container .admin-header .left-text-header a,
.admin-container .admin-header .right-text-header a {
    text-decoration: none; /* 기본 링크 밑줄 없애기 */
}

.admin-container .admin-header .left-text-header a:active,
.admin-container .admin-header .left-text-header a:focus,
.admin-container .admin-header .right-text-header a:active,
.admin-container .admin-header .right-text-header a:focus {
    color: inherit; /* 클릭했을 때 색깔 변경되지 않도록 설정 */
    outline: none;  /* 클릭 시 외곽선 제거 */
}

.admin-link {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: black;
}

.left-text-header div{
    /* margin-left: 30px; */
    display: flex;
    flex-direction: row;
}

.admin-header-separator {
    margin-right: 4px;
}

.right-text-header div{
    display: flex;
    flex-direction: row;
}

.admin-header-icon {
    transform: translate(-550%, 35%); /* 정확히 가운데 정렬 */
    opacity: 0; /* 초기 상태에서 보이지 않음 */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* 투명도와 위치 변화를 천천히 */
    pointer-events: none; /* 호버 시 클릭 방지 */

    width: 2px; /* 예시 값 */

    img{
        width: 6px;
        position: absolute;
    }
}

.admin-header div div:hover .admin-header-icon,
.admin-header div div.active .admin-header-icon {
    opacity: 1;
    transform: translate(-550%, 35%) scale(1.1);
}