.admin-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    /* max-width: 100%; */
    padding-left: 3%;
    padding-right: 3%;

    .admin-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        :first-child{
            margin-right: 3px;
        }
        :last-child{
            margin-left: 3px;
        }

        .left-text-header{
            display: flex;
            flex-direction: row;
        }

        .right-text-header{
            display: flex;
            justify-content: flex-end;
            align-items: end;
        }
    }
    
}

.admin-container .admin-header .left-text-header a,
.admin-container .admin-header .right-text-header a {
    text-decoration: none; /* 기본 링크 밑줄 없애기 */
}

.admin-container .admin-header .left-text-header a:active,
.admin-container .admin-header .left-text-header a:focus,
.admin-container .admin-header .right-text-header a:active,
.admin-container .admin-header .right-text-header a:focus {
    color: inherit; /* 클릭했을 때 색깔 변경되지 않도록 설정 */
    outline: none;  /* 클릭 시 외곽선 제거 */
}