.cardmake-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }
  
  .cardmake {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
    height: 100vh;
  }
  
  .cardmake-content {
    flex: 1;
    max-width: 50%;
    margin-right: 5.5rem;
    margin-left: 400px;
  }
  
  .cardmake-content h2 {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
  }
  
  .cardmake-content p {
    font-size: 1.7rem;
    line-height: 1.4;
  }
  
  .cardmake-image-container {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-left: 1.5rem;
  }
  
  .cardmake-image {
    max-width: 100%;
    border-radius: 15px;
    height: 717px;
    margin-left: 275px
  }