.myCard-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }
  
  .myCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
    height: 100vh;
  }
  
  .myCard-content {
    flex: 1;
    max-width: 50%;
    margin-right: -40.5rem;
    margin-left:  400px;
    order: 2;
    margin-right: 0; /* 오른쪽 마진 제거 */
    margin-left: 0; /* 필요하면 왼쪽 마진도 제거 */
  }
  
  .myCard-content h2 {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
  }
  
  .myCard-content p {
    font-size: 1.7rem;
    line-height: 1.4;
  }

  .myCard-content br {
    font-size: 10px;
  }
  
  .myCard-video-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 1.5rem;
    order: 1;
    margin-left: 0; /* 왼쪽 마진 제거 */
  }
  
  .myCard-video {
    max-width: 120%;
    max-height: 600px;
    border-radius: 45px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .home-page-wrapper {
    padding-bottom: 100px;
    overflow: hidden;
  }
  