.mywallet-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.mywallet {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem;
  background-color: #8fcab8;
  box-sizing: border-box;
  height: 100vh;
}

.mywallet-content {
  flex: 1;
  max-width: 50%;
  margin-right: -40.5rem;
  margin-left: 400px;
  color: #fff;
}

.mywallet-content h2 {
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
}

.mywallet-content p {
  font-size: 1.7rem;
  line-height: 1.4;
}

.mywallet-video-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 1.5rem;
}

.mywallet-video {
  max-width: 120%;
  max-height: 600px;
  border-radius: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-page-wrapper {
  padding-bottom: 100px;
  overflow: hidden;
}
