.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0f182e;
    color: #555;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 10px 0;
    visibility: hidden;
    opacity: 0;
    z-index: 9998;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    height: 105px;
  }
  
  .show-footer {
    visibility: visible;
    opacity: 1;
  }
  
  .hide-footer {
    visibility: hidden;
    opacity: 0;
  }  
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 50%;
    margin: 0 auto;
  }
  
  .footer-left,
  .footer-center {
    flex: 1;
    text-align: center;
  }

  .footer-right {
    text-align: right;
    margin-left: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .footer-left {
    text-align: left;
    margin-right: 5px;
  }
  
  .footer-left h4 {
    margin-bottom: 3px;
    font-size: 0.9rem;
    color: #F1F1F3;
  }
  
  .footer-left p {
    margin: 2px 0;
    font-size: 0.8rem;
    color: #F1F1F3;
  }
  
  .footer-center {
    text-align: center;
    margin: 0 5px;
  }
  
  .center-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-right: 65px;
  }
  
  .center-links li {
    margin: 0;
  }
  
  .center-links li a {
    text-decoration: none;
    font-weight: bold;
    color: #F1F1F3;
  }
  
  .center-links li a:hover {
    color: #777;
  }
  
  
  .footer-right {
    text-align: right;
    margin-left: 5px;
  }
  
  .right-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .right-links li {
    margin: 2px 0;
  }
  
  .right-links li a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: #F1F1F3;
  }
  
  .right-links li a:hover {
    color: #777;
  }
  
  .footer-bottom {
    margin-top: 5px;
    font-size: 0.75rem;
    color: #F1F1F3;
  }
  
  .scroll-to-top-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-left: 100px;
  }
  
  .scroll-to-top-image:hover {
    transform: scale(1.2);
  }
  
  