.main-header {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    position: fixed;
    width: 97%;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.main-header.scrolled {
    background-color: rgba(255, 255, 255, 0.623);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.main-header-nav-link {
    color: black;
    transition: color 0.3s ease;
}

.itdat-and-green-dot{
    display: flex;
    position: relative;
    margin-left: 100px;
    text-decoration: none; /* 밑줄 제거 */
    color: black;

    img {
        position: absolute;
        left: 100%; 
        top: 70%;      
        width: 8px;

    }
}

.main-header ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
    margin-right: 150px;
}

.main-header li{
    margin-left: 30px;
    position: relative; /* 자식 요소의 position을 기준으로 잡기 위해 추가 */
}

.main-header li:last-child{
    margin-right: 20px;
}

.main-header-icon {
    position: relative;
    transform: translate(-50%, -50%); /* 정확히 가운데 정렬 */
    opacity: 0; /* 초기 상태에서 보이지 않음 */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* 투명도와 위치 변화를 천천히 */
    pointer-events: none; /* 호버 시 클릭 방지 */

    img{
        width: 5px;
        position: absolute;
    }
}

.main-header li:hover .main-header-icon,
.main-header li.active .main-header-icon {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}

.main-header-nav-link {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.main-header-nav-link:visited {
    color: black;
    font-size: 17px;
}

