/* 컨테이너 스타일 */
.text-container {
    display: block; /* flex 영향을 받지 않도록 설정 */
    min-width: 800px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    flex-grow: 0;  /* 부모 컨테이너의 너비를 따르도록 설정 */
}

/* 상단 영역 스타일 */
.text-container-top {
    margin-bottom: 2px;
}

/* CKEditor의 div */
.text-editor-body {
    
    flex-grow: 0;
    height: auto;    /* 부모 요소의 높이가 자동으로 설정되도록 */
}

/* CKEditor 스타일은 textEditor.css에 전역으로 관리되고 있다.
 ck 에디터를 다른 팀원이 쓸지도 모르니 개별 관리로 돌렸다.
 textEditor.css의 코드는 이제 유효하지 않다. */


/* 비밀 여부 및 패스워드 */
.secret-checkbox {
    margin-right: 10px;
}

.secret-password {
    padding: 10px;
    margin-left: 10px;
}

/* 확인 버튼 */
/* .confirm-button {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
} */

.confirm-button {
    width: 75px;
    padding-left: 12px;
    padding-right: 12px;
    padding: 10px 20px;
    /* padding: 1px; */
    border: 1px solid #00CA91;
    background-color: transparent;
    color: #00CA91;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    /* margin-bottom: 20px; */
    cursor: pointer;
  }
  
  .confirm-button:hover {
    background-color: #00CA91;
    color: white;
  }

  .secret-and-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }